<html>
    <head>
        <meta charset="utf-8">
        <title>Winners</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="container-nostyle">

            <div class="navbar">
                <div class="logocontainer">
               
                <div class="logoname">
                    <h3>PLAYMANIA</h3>
                </div>
                 
                </div>

                <div class="navbar-links">
                    <a href="../index.html">Home</a>
                    <a href="../components/main.html#listgames" onclick="abc()">Games</a>
                    <a href="../components/main.html#winners" onclick="abc()">Winners</a>
                    <a href="../components/main.html#aboutus" onclick="abc()">About Us</a>
                    <a href="../components/main.html#contact" onclick="abc()">Contact</a>
                    <a href="../components/main.html#winnersform" onclick="abc()">Register</a>
                    </div>

            </div>

            <div class="content" id="content">
              
            <div class="container-cards" style="display:none" id="winners">
              
               
                
                    <div class="image-card-content">
                        <center><img src="https://www.seekpng.com/png/full/75-758455_winner-png.png" alt="image1" width="120px" height="120px">
                            <h3>Winner</h3>
                            <p>
                                Vikash Kumar
                                 </p>
                        </center>
                        
                      
                   
                    </div>
                    
                    <div class="image-card-content">
                        <center><img src="https://www.seekpng.com/png/full/75-758455_winner-png.png" alt="image1" width="120px" height="120px">
                            <h3>Runner Up</h3>
                            <p>
                               Kumar Vikash
                                 </p>
                        </center>
                        
                      
                   
                    </div>
                    <div class="image-card-content">
                        <center><img src="https://www.seekpng.com/png/full/75-758455_winner-png.png" alt="image1" width="120px" height="120px">
                            <h3>Second Runner Up</h3>
                            <p>
                                Harsh Kumar
                                 </p>
                        </center>
                        
                      
                   
                    </div>
                 
            </div>

            <div class="container-cards" style="display:none" id="listgames">
                <div class="image-card-content">
                    <h3>Game 1</h3>
                 
                <img src="https://cdn.dribbble.com/users/2348/screenshots/10696082/media/4a24583ea649f9df1415775a37c84ae5.png?compress=1&resize=400x300&vertical=top" alt="image1" width="100%" height="180px">
                <button>Register</button>
                </div>
                
                <div class="image-card-content">
                    <h3>Game 2</h3>

             
                
                    <img src="https://cdn.dribbble.com/users/2348/screenshots/10696082/media/4a24583ea649f9df1415775a37c84ae5.png?compress=1&resize=400x300&vertical=top" alt="image1" width="100%" height="180px">
                <button>Register</button>    
            </div>
            <div class="image-card-content">
                <h3>Game 3</h3>

         
            
                <img src="https://cdn.dribbble.com/users/2348/screenshots/10696082/media/4a24583ea649f9df1415775a37c84ae5.png?compress=1&resize=400x300&vertical=top" alt="image1" width="100%" height="180px">
            <button>Register</button>    
        </div>
             

                </div>


                <div class="container-cards" style="display:none" id="winnersform">

                    <form>
                        <h1>Register Now!</h1>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
            </div>

            
            <div class="container-cards" style="display:none" id="contact">

                <form>
                    <h1>Contact Us</h1>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
        </div>


            <div class="container-cards" style="display:none" id="aboutus">

                    <div class="container-about">
                        <h1>About Us</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.
                            Mauris eget ipsum eget nunc varius elementum.

                        </div>
                


                
        </div>
                 
    
                    </div>


            </div>

            <script>
                function abc() {
                
                var c = document.getElementById("content").children;
                for(i = 0; i < c.length ; i++) {
                c[i].style.display = "none";
                }
                setTimeout(function(){
                var hash = location.hash;
                
                var hash = location.hash.substr(1);
                
                var contentunhide = document.getElementById(hash);
                contentunhide.style.display = "flex";
                
                }, 300);

               
                }
                abc();
               
</script>
    
    </body>
</html>